<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Dispatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--connectionString="Data Source=localhost\sqlexpress;Initial Catalog=domy59;persist security info=True;User ID=sa;PWD=root;"-->
    <!--connectionString="Data Source=BDDSLAMSERVER;Initial Catalog=domy59;Integrated Security=True"-->
    <add name="SqlConnectionDomy59"
     connectionString="Data Source=BDDSLAMSERVER;Initial Catalog=domy59;Integrated Security=True"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <Dispatcher.Properties.Settings>
      <setting name="Dispatcher_refValidEmail_EV3Library" serializeAs="String">
        <value>https://domy59efficom.eu/WebServiceVerificationEmail.asmx</value>
      </setting>
      <setting name="Dispatcher_refWsSms_WebServiceSms" serializeAs="String">
        <value>https://domy59efficom.eu/WebServiceSms.asmx</value>
      </setting>
    </Dispatcher.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <!--paramètre pour la connexion a l'AD-->
    <add key="LDAP_SERVER" value="domy59.local"/>
    <!--parametres pour la connexion au Web Service SMS-->
    <add key="CLE_PUBLIC" value="3081890281810088DB0C93EF592B89C0177DE0B6210B447464982EBE9A734C2D7BB651B434F086776C7A79F28ECB140E7BB50F011AD0C0D264C439D662C69E723115605674B1ABB886CAE64A624FC513169A95550F954FAE5625B2C455AA306A64728273AB35E36B65A118AA5D02097B4489A9AE3CB77DF2D8E0080B8914B269BCDB58411476BB0203010001"/>
    <add key="PASS_SMS" value="P@sswd/59"/>
  <!-- ... -->
  </appSettings>
</configuration>